body{
	font-family: 'Baloo 2', cursive;
}

/*cabeçalho*/
header {
	background: #FFC0CB;
	padding: 40px 0;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #8B008B;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #FFA07A;
	text-decoration: underline;
}
/*meio*/
.meio {
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	background: linear-gradient(#FFC0CB,#FFA07A)
}

/*rodape*/
footer {
	text-align: center;
	background: url("FFA07A.jpg");
	padding: 48px 0;
}


